<nav class="navbar navbar-expand-lg  " style="background-color: black;">

  <a class="navbar-brand" onclick="open_url('/')">
    <img src="/img/logo.jpg" height="60" width="130" class="d-inline-block align-top"  style="border-radius: 25px;" alt="">
  </a>
    <span class="navbar-toggler-icon"></span>
  </button>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item  text-light">
        <a class="btn btn-white text-light" onclick="open_url('/')">Home</a>
      </li>
    </ul>
    
</nav>