<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=paginaTitulo%></title>

  <!-- ajax-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-- icone -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstsrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <style>

    tr {
      opacity: 0.9;
      color: white;
      background-color: black;
      border: solid;
      border-width: 1px;
    }

    tr:hover {
      background-color: #ffffff;
      color: black;
    }

    @font-face {
      font-family: myFirstFont;
      src: url("/img/RINGM.ttf");
    }

    .lordOfRingsFont {
      font-family: "myFirstFont";
      font-size: 3rem;
      text-shadow: 2px 2px 4px burlywood;
    }

    .lordOfRingsButton {
      font-family: "myFirstFont";
      font-size: 2rem;
      text-shadow: 2px 2px 4px burlywood;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      border-top-left-radius: 25px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 3px;
    }

    .lordOfRingsButton:hover {
      font-family: "myFirstFont";
      font-size: 2rem;
      text-shadow: 2px 2px 4px burlywood;
      background-color: rgb(144, 153, 67);

      border-style: solid;
      border-color: black;
      border-width: 2px;
      border-top-left-radius: 25px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 3px;
    }

    .edit_icon {
      background-image: url("/img/edit_icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 1.5rem;
      height: 1.5rem;
      padding-left: 50px;
      margin: 0em;
      background-color: white;
      border: none;
    }

    .delete_icon {
      background-image: url("/img/delete_icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0em;
      padding-left: 50px;
      background-color: white;
      border: none;
    }

    body {
      background-color: #cccccc;
      background-image: url("/img/background13.jpg");
      background-repeat: no-repeat;
      background-position: initial;
      background-size: cover;
    }
  </style>
</head>

<body>