<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%=page_title%></title>

  <!-- ajax-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- bootstsrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <style>
    
    .background_blue {
      background-color: #142068;
    }

    .lordOfRingsFont {
      font-family: "myFirstFont";
      font-size: 3rem;
      text-shadow: 2px 2px 4px burlywood;
    }

    body {
      background-color: #cccccc;
      background-image: url("/img/background04.jpg");
      background-repeat: repeat;
      background-position: center;
      /* Center the image */
      background-size: cover;
    }

    .shadow {
      text-shadow: 0 0 2px black;
    }
  </style>

</head>

<body>